In [87]:
import numpy as np
import pandas as pd

In [88]:
movies = pd.read_csv("C:\\Users\\HP\\Desktop\\booksRecommend - Copy\\archive\\movies.csv")
#users = pd.read_csv('users.csv')
ratings = pd.read_csv("C:\\Users\\HP\\Desktop\\booksRecommend - Copy\\archive\\ratings.csv")

In [89]:
#books['Image-URL-M'][1]

In [90]:
#users.head()

In [91]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [92]:
print(movies.shape)
print(ratings.shape)
#print(users.shape)

(62423, 3)
(25000095, 4)

In [93]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [94]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [95]:
#ratings.isnull().sum()

In [96]:
movies.duplicated().sum()

0

In [97]:
ratings.duplicated().sum()

0

In [98]:
#users.duplicated().sum()

## Popularity Based Recommender System

In [99]:
ratings_with_name = ratings.merge(movies,on='movieId')

In [100]:
num_rating_df = ratings_with_name.groupby('title').count()['rating'].reset_index()
num_rating_df.rename(columns={'rating':'num_ratings'},inplace=True)
num_rating_df

                                                   title  num_ratings
0      "BLOW THE NIGHT!" Let's Spend the Night Togeth...            1
1                       "Great Performances" Cats (1998)          179
2                             #1 Cheerleader Camp (2010)            9
3                                       #Captured (2017)            2
4                                #Female Pleasure (2018)            3
...                                                  ...          ...
58953             …And the Fifth Horseman Is Fear (1965)            2
58954                                        キサラギ (2007)            2
58955                                     チェブラーシカ (2010)            9
58956                                        貞子3D (2012)           12
58957                                        줄탁동시 (2012)            2

[58958 rows x 2 columns]

In [101]:
import pandas as pd

# Assuming ratings_with_name is your DataFrame containing movie ratings

# Clean the 'rating' column (example: replace non-numeric values with NaN)
ratings_with_name['rating'] = pd.to_numeric(ratings_with_name['rating'], errors='coerce')

# Group by 'title' and calculate the mean of 'rating'
avg_rating_df = ratings_with_name.groupby('title')['rating'].mean().reset_index()

# Rename the column 'rating' to 'avg_rating'
avg_rating_df.rename(columns={'rating':'avg_rating'}, inplace=True)

# Display the resulting DataFrame
print(avg_rating_df)

                                                   title  avg_rating
0      "BLOW THE NIGHT!" Let's Spend the Night Togeth...    3.000000
1                       "Great Performances" Cats (1998)    2.896648
2                             #1 Cheerleader Camp (2010)    2.111111
3                                       #Captured (2017)    3.750000
4                                #Female Pleasure (2018)    3.666667
...                                                  ...         ...
58953             …And the Fifth Horseman Is Fear (1965)    3.250000
58954                                        キサラギ (2007)    3.250000
58955                                     チェブラーシカ (2010)    3.166667
58956                                        貞子3D (2012)    2.375000
58957                                        줄탁동시 (2012)    4.000000

[58958 rows x 2 columns]

In [102]:
popular_df = num_rating_df.merge(avg_rating_df,on='title')
popular_df

,title,num_ratings,avg_rating
0,"""BLOW THE NIGHT!"" Let's Spend the Night Togeth...",1,3.000000
1,"""Great Performances"" Cats (1998)",179,2.896648
2,#1 Cheerleader Camp (2010),9,2.111111
3,#Captured (2017),2,3.750000
4,#Female Pleasure (2018),3,3.666667
...,...,...,...
58953,…And the Fifth Horseman Is Fear (1965),2,3.250000
58954,キサラギ (2007),2,3.250000
58955,チェブラーシカ (2010),9,3.166667
58956,貞子3D (2012),12,2.375000
58957,줄탁동시 (2012),2,4.000000

In [103]:
popular_df = popular_df[popular_df['num_ratings']>=2000].sort_values('avg_rating',ascending=False).head(50)
popular_df.head()

                                             title  num_ratings  avg_rating
41782             Shawshank Redemption, The (1994)        81482    4.413576
19301                        Godfather, The (1972)        52498    4.324336
55289                   Usual Suspects, The (1995)        55366    4.284353
19302               Godfather: Part II, The (1974)        34188    4.261759
41448  Seven Samurai (Shichinin no samurai) (1954)        13367    4.254769

In [104]:
popular_df = popular_df.merge(movies,on='title')

In [105]:
popular_df.head(50)

,title,num_ratings,avg_rating,movieId,genres
0,"Shawshank Redemption, The (1994)",81482,4.413576,318,Crime|Drama
1,"Godfather, The (1972)",52498,4.324336,858,Crime|Drama
2,"Usual Suspects, The (1995)",55366,4.284353,50,Crime|Mystery|Thriller
3,"Godfather: Part II, The (1974)",34188,4.261759,1221,Crime|Drama
4,Seven Samurai (Shichinin no samurai) (1954),13367,4.254769,2019,Action|Adventure|Drama
5,Schindler's List (1993),60411,4.247579,527,Drama|War
6,12 Angry Men (1957),16569,4.243014,1203,Drama
7,Rear Window (1954),20162,4.237948,904,Mystery|Thriller
8,Fight Club (1999),58773,4.228311,2959,Action|Crime|Drama|Thriller
9,One Flew Over the Cuckoo's Nest (1975),36058,4.218662,1193,Drama
10,Dr. Strangelove or: How I Learned to Stop Worr...,26714,4.215804,750,Comedy|War
11,Spirited Away (Sen to Chihiro no kamikakushi) ...,22719,4.212267,5618,Adventure|Animation|Fantasy
12,Casablanca (1942),26890,4.206564,912,Drama|Romance
13,Sunset Blvd. (a.k.a. Sunset Boulevard) (1950),7368,4.206501,922,Drama|Film-Noir|Romance
14,"Third Man, The (1949)",7194,4.201487,1212,Film-Noir|Mystery|Thriller
15,"Lives of Others, The (Das leben der Anderen) (...",9177,4.200392,44555,Drama|Romance|Thriller
16,Paths of Glory (1957),4254,4.199342,1178,Drama|War
17,North by Northwest (1959),16850,4.196617,908,Action|Adventure|Mystery|Romance|Thriller
18,Double Indemnity (1944),5404,4.194023,3435,Crime|Drama|Film-Noir
19,Pulp Fiction (1994),79672,4.188912,296,Comedy|Crime|Drama|Thriller
20,City of God (Cidade de Deus) (2002),19894,4.181587,6016,Action|Adventure|Crime|Drama|Thriller
21,Goodfellas (1990),32663,4.180525,1213,Crime|Drama
22,Yojimbo (1961),3996,4.179179,3030,Action|Adventure
23,All About Eve (1950),5068,4.169692,926,Drama
24,"Dark Knight, The (2008)",41519,4.166538,58559,Action|Crime|Drama|IMAX
25,Notorious (1946),5062,4.161201,930,Film-Noir|Romance|Thriller
26,M (1931),4636,4.160699,1260,Crime|Film-Noir|Thriller
27,"Big Sleep, The (1946)",5720,4.159965,1284,Crime|Film-Noir|Mystery
28,Chinatown (1974),16929,4.158633,1252,Crime|Film-Noir|Mystery|Thriller
29,Inception (2010),38895,4.155508,79132,Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
30,Life Is Beautiful (La Vita è bella) (1997),23976,4.154342,2324,Comedy|Drama|Romance|War
31,"Matrix, The (1999)",72674,4.154099,2571,Action|Sci-Fi|Thriller
32,"Maltese Falcon, The (1941)",12257,4.154075,913,Film-Noir|Mystery
33,"Thin Man, The (1934)",3318,4.153255,950,Comedy|Crime
34,My Neighbor Totoro (Tonari no Totoro) (1988),9340,4.152463,5971,Animation|Children|Drama|Fantasy
35,"Silence of the Lambs, The (1991)",74127,4.151342,593,Crime|Horror|Thriller
36,Memento (2000),41195,4.149958,4226,Mystery|Thriller
37,Monty Python and the Holy Grail (1975),37723,4.147655,1136,Adventure|Comedy|Fantasy
38,To Kill a Mockingbird (1962),15986,4.146441,1207,Drama
39,Star Wars: Episode V - The Empire Strikes Back...,57361,4.144122,1196,Action|Adventure|Sci-Fi
40,"Sting, The (1973)",15675,4.142360,1234,Comedy|Crime
41,Ran (1985),5220,4.142050,1217,Drama|War
42,Touch of Evil (1958),4823,4.141198,1248,Crime|Film-Noir|Thriller
43,American History X (1998),31157,4.140001,2329,Crime|Drama
44,Princess Mononoke (Mononoke-hime) (1997),13136,4.138094,3000,Action|Adventure|Animation|Drama|Fantasy
45,Whiplash (2014),11179,4.137848,112552,Drama
46,"Philadelphia Story, The (1940)",6499,4.137713,898,Comedy|Drama|Romance
47,Lawrence of Arabia (1962),13173,4.136036,1204,Adventure|Drama|War
48,When We Were Kings (1996),3576,4.132271,1147,Documentary
49,Cinema Paradiso (Nuovo cinema Paradiso) (1989),9456,4.131081,1172,Drama

## Collaborative Filtering Based Recommender System

In [122]:
x = ratings_with_name.groupby('userId').count()['rating'] > 2000
padhe_likhe_users = x[x].index

In [107]:
filtered_rating = ratings_with_name[ratings_with_name['userId'].isin(padhe_likhe_users)]

In [108]:
y = filtered_rating.groupby('title').count()['rating']>=50
famous_movies = y[y].index

In [109]:
final_ratings = filtered_rating[filtered_rating['title'].isin(famous_movies)]

In [110]:
pt = final_ratings.pivot_table(index='title',columns='userId',values='rating')

In [111]:
pt.fillna(0,inplace=True)

In [112]:
pt

userId,548,847,997,1748,1920,2177,2982,3150,3503,5114,...,157456,157804,158028,158109,159816,160256,160747,162047,162271,162516
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"'burbs, The (1989)",0.0,2.5,0.0,1.0,3.0,3.0,3.0,0.0,0.0,4.0,...,4.5,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
(500) Days of Summer (2009),3.5,0.0,4.0,3.5,3.0,0.0,0.0,4.0,4.0,2.0,...,4.5,3.5,0.0,2.5,4.5,2.5,3.5,4.0,3.0,4.0
*batteries not included (1987),4.0,0.0,3.0,0.0,3.5,4.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,3.0
...And Justice for All (1979),0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,3.0,0.0,0.0,3.5,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
[REC]² (2009),4.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,...,0.0,3.0,0.0,4.0,0.0,0.0,0.0,3.5,0.0,0.0
eXistenZ (1999),4.0,0.0,3.0,0.0,3.0,0.0,4.0,3.5,3.5,4.0,...,4.0,0.0,4.0,4.0,4.0,0.0,1.0,4.5,3.0,3.5
xXx (2002),3.0,0.0,3.5,0.0,3.0,2.5,1.5,2.5,0.0,3.0,...,2.5,0.0,0.0,4.0,3.5,0.0,0.0,0.0,0.0,2.5
xXx: State of the Union (2005),0.0,0.0,2.5,0.0,2.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,4.0,1.5,0.0,0.0,0.0,0.0,0.0
¡Three Amigos! (1986),0.0,2.5,0.0,2.5,0.0,2.0,4.0,4.0,0.0,0.0,...,4.5,0.0,0.0,0.0,0.0,1.5,2.5,0.0,2.5,2.0

In [113]:
from sklearn.metrics.pairwise import cosine_similarity

In [114]:
similarity_scores = cosine_similarity(pt)

In [115]:
similarity_scores.shape

(6801, 6801)

In [116]:
def recommend(movie_name):
    # index fetch
    index = np.where(pt.index==movie_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = movies[movies['title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('title')['title'].values))
        #item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        #item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [117]:
recommend('(500) Days of Summer (2009)')

[['Inception (2010)'],
 ['Juno (2007)'],
 ['Up in the Air (2009)'],
 ['District 9 (2009)']]

In [118]:
pt.index[545]

'Basket Case (1982)'

In [119]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [120]:
movies.drop_duplicates('title')

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama